commands:
  01_install_docker:
    command: "sudo yum install -y docker && sudo systemctl enable docker && sudo systemctl start docker && sudo usermod -a -G docker ec2-user"
    ignoreErrors: true
  02_run_oracle:
    command: "sudo docker ps -a --format '{{.Names}}' | grep -q '^oracle-xe$' && echo 'Oracle already exists' || sudo docker run -d --name oracle-xe -p 1521:1521 -e ORACLE_PASSWORD=tiger --restart=always --shm-size=1g gvenzl/oracle-xe:21-slim"
    ignoreErrors: true
  03_start_oracle:
    command: "sudo docker start oracle-xe || true"
    ignoreErrors: true
